
.header{
    position: absolute;
    margin: 5px;
    font-size: 46px;
    width: 100%;
    text-align: center;
    color: #fff;
    top: 20px;
}
.helper{
    background-color: #e20074;
    position: relative;
    top: 30%;
    width: 200px;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.5);
    cursor: pointer;
    font-weight: bolder;
}
.helper:hover{
    background-color: #fff;
    color: #e20074;
}

.all {
    background: pink;
    width: 1200px;
    margin: auto;
}

.all td {
    padding: 5px 20px;
    border: 1px solid gray;
}

.update{
    background-color: #e20074;
    position: relative;
    top: 10%;
    width: 200px;
    text-align: center;
    color: #fff;
    padding: 10px;
    margin: 0 auto;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, 0.5);
    cursor: pointer;
    font-weight: bolder;
}