.home-page {
  
  h2 {
    font-size: 1.5em;
  }
  
  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;

    input {
      outline: none;
      border-bottom: 1px dotted #999;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}

#user-profile {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  border: 1px solid gray;
  background-color :lightblue;
  background-image: radial-gradient(#556e96 15%, transparent 16%), radial-gradient(#556e96 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}
#user-profile hr {
  margin: 20px auto;
  width: 50px;
  border: 1px solid #6b0a3a;
  background-color: transparent;
}
#user-profile h1, #user-profile h2, #user-profile h3, #user-profile h4, #user-profile h5, #user-profile h6, #user-profile p {
  margin: 0;
}
#user-profile h2 {
  font-size: 30px;
}
#user-profile h3 {
  font-size: 18px;
}
#user-profile h4 {
  font-size: 16px;
}
#user-profile p {
  font-size: 14px;
}
#user-profile .top, #user-profile .bottom {
  padding: 30px;
}
#user-profile .bottom {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: left;
}
#user-profile .avatar {
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  margin-bottom: 15px;
  border: 1px solid #000;
}
#user-profile .avatar img {
  width: 100%;
}

.int {
  cursor: pointer;
  text-decoration: underline;
}

