.support-comp{
  width: 100%;
  height: 1100px;
  padding-top: 100px;
  background-image: url(https://support.t-mobile.com/___sbsstatic___/sftp-sync/images/welcome/su-bg-horizon.png);
  background-color: rgba(0,0,0, 0.7);
  position: relative;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.5);
}